{% extends 'layouts/master.html.twig' %} 

{% block cabecera %}
<h1>Cabecera de la Pagina de animales</h1>
{% endblock %}

{% block contenido %} 
<p>Esta es la pagina Web de animales</p>
{% endblock %}